<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('header.ejs', { title: 'Your Title' , pageTitle: 'Your Page Title' }) %>

        <div class="options-container">
            <a href="uploadData">
                <div class="option-container">
                    <img src="../assets/icon/upload.jpg" alt="">
                    <h4>Import Data</h4>
                </div>
            </a>

            <a href="ringkasan">
                <div class="option-container">
                    <img src="../assets/icon/table.jpg" alt="">
                    <h4>Ringkasan Data</h4>
                </div>
            </a>

            <a href="">
                <div class="option-container">
                    <img src="../assets/icon/bar chart.png" alt="">
                    <h4>Grafik Batang</h4>
                </div>
            </a>

            <a href="">
                <div class="option-container">
                    <img src="../assets/icon/scatter plot.png" alt="">
                    <h4>Scatter Plot</h4>
                </div>
            </a>

        </div>
</body>

</html>