<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Page Robertus</h2>
    <h3>Menu Navigasi</h3>
    <ul>
        <li><a href="page_dian">Page Dian</a></li>                
        <li><a href="page_robertus">Page Robertus</a></li>
        <li><a href="page_yohanes">Page Yohanes</a></li>
    </ul>
</body>
</html>
