<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Data</title>
    <link rel="stylesheet" href="css/uploadData.css">
</head>

<body>
    <%- include('header.ejs', { title: 'Your Title', pageTitle: 'Upload Data' }) %>

    <div class="upload-container">
        <h2>Import Data</h2>
        <form action="/uploadData" method="POST" enctype="multipart/form-data">
            <div class="navigator_import_data">
              <div class="pembungkus_import_data">
                <div class="img_import_data">
                  <img src="../assets/icon/upload.jpg" height="150px" width="150px">
                </div>
                <label for="file_upload" class="custom-file-upload">
                  <span>Upload File</span>
                  <input type="file" id="file_upload" name="file_upload">
                </label>
              </div>
              <div class="import_button_data">
                <button type="submit" class="blue_button">Import</button>
              </div>
            </div>
        </form>    
    </div>
</body>

</html>
