header{
    font-family: system-ui;
    background-color: #CCCCCC;
    display: grid;
    grid-template-columns:9fr 1fr;
    padding: 10px;
    justify-content: space-around;
    box-shadow: 0px 2px 10px rgb(185, 185, 185);
    position: sticky;
}

header div{
    display: grid;
    align-items: center;
    justify-content: center;
}

.backButton button{
    background-color: black;
    color: whitesmoke;
}