*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*
STYLING UNTUK HALAMAN HOME
*/
.options-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin: auto;
}

.option-container {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 50px; /* Adjust padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.option-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* To maintain aspect ratio */
}

.option-container h4 {
    margin-top: 10px; /* Adjust margin as needed */
}

.option-container:hover {
    transform: scale(1.05);
}

/*
STYLING UNTUK HALAMAN UPLOAD DATA
*/
label {
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* STYLING RINGKASAN DATA */
.container-ringkasan-data {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: unset;
    justify-content: unset;
  }

  .left-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    
    /* align-items: center; */
  }

  .checkbox-container {
    /* margin-right: 20px ; */
    width: 250px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  h2 {
    margin: 10px;
  }

  .tampilkan-tabel {
    background-color: #F47315;
    border: none;
    border-radius: 10px ;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    margin: auto;
  }

  .tampilkan-tabel:hover {
    background-color: #fff;
    color: #F47315;
  }

  .tabel-ringkasan {
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    border-collapse: collapse;
  }

  tr, th, td {
    border: 2px solid #aaa;
    text-align: center;
  }
